# Exercici de salaris 

# Farem servir el conjunt de dades de salaris de San Francisco (https://www.kaggle.com/kaggle/sf-salaries) de Kaggle.

# Importa pandas com a pd.

In [1]:
import pandas as pd
import numpy as np

# Llegeix Salaries.csv com un dataframe anomenat sal.

In [35]:
sal = pd.read_csv('Salaries.csv', sep=',', header=0, decimal='.')
sal.set_index('Id', inplace=True)

# Comprova les primeres files del DataFrame. (head)

In [36]:
sal.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# Fes servir el mètode .info() per esbrinar quantes entrades hi ha.

In [37]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 14.7+ MB

# Quin és el salari base mitjà?

In [39]:
float(sal['BasePay'].mean())

66325.44884048769

# Quina és la quantitat més alta de pagament per hores extres (OvertimePay) del conjunt de dades?

In [40]:
float(sal['OvertimePay'].max())

245131.88

# Quin és el càrrec de JOSEPH DRISCOLL? Nota: Fes servir majúscules, sinó podries obtenir una resposta incorrecta (també hi ha un Joseph Driscoll en minúscules).

In [41]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

Id
25    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# Quant cobra JOSEPH DRISCOLL (incloent beneficis)?

In [42]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

Id
25    270324.91
Name: TotalPayBenefits, dtype: float64

# Quin és el nom de la persona amb el salari més alt (incloent beneficis)?

In [44]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

# Quin és el nom de la persona amb el salari més baix (incloent beneficis)? Notes alguna cosa estranya sobre quant se li paga?

In [45]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

# Quin era el salari base mitjà (promig) de tots els empleats per any? (2011-2014)

In [51]:
print("2014: ",float(sal[sal['Year'] == 2014]['BasePay'].mean()))
print("2013: ",float(sal[sal['Year'] == 2013]['BasePay'].mean()))
print("2012: ",float(sal[sal['Year'] == 2012]['BasePay'].mean()))
print("2011: ",float(sal[sal['Year'] == 2011]['BasePay'].mean()))

2014:  66564.42192449959
2013:  69630.03021648063
2012:  65436.40685742262
2011:  63595.95651677314

# Quants càrrecs únics hi ha?

In [53]:
sal['JobTitle'].nunique()

2159

# Quins són els 5 càrrecs més comuns?

In [63]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

# Quants càrrecs van estar representats per només una persona el 2013? (per exemple, càrrecs amb només una ocurrència el 2013)

In [ ]:
int((sal['JobTitle'].value_counts() == 1).sum())

239

# Quantes persones tenen la paraula Chief al seu càrrec? (Aquest és un poc més complicat)

In [70]:
sal['JobTitle'].str.contains('Chief').sum()

np.int64(423)

# Extra: Hi ha alguna correlació entre la llargada de la cadena del càrrec i el salari?

In [75]:
avg_title = sal['JobTitle'].str.len().mean()
avg_title

avg_salary = sal['TotalPay'].mean()

print(avg_title/avg_salary)

0.00025588041016417037

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000